.PageHeader{
  background-color:#414650;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 2em;
  height:8vh;
  color:#FEFDF9
}

.OwnedProjects{
  background-color:lightgray;
  width:100vw;
  min-height:46vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.ProjectDisplay{
  padding-top:1vh;
  height:82vh;
  width:100%;
  background-image: url('../../pictures/8430.jpg')
}


.AssignedProjects{
  background-color: lightgray;
  min-height:46vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

#intro{
  font-size:1.2em,
}