.PageHeader{
  background-color:lightgray;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 2em;
  height:5vh;
}

.OwnedProjects{
  background-color:lightcoral;
  width:100vw;
  min-height:42.5vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.AssignedProjects{
  background-color: aquamarine;
  min-height:42.5vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
}