.registrationContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color:lightgray;
  min-height: 100vh;
  
}

.top{
  background-color: #3E414B;
  min-height:45vh;
  min-width: 100vw;
  margin-top:0;
}

.welcome{
  margin-left:.25em;
}