.background{
  background-image: url('../../pictures/8430.jpg');
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}


.top{
  /* background-color:lightblue; */
  height:45vh;
  display:flex;
  align-items: center;
  justify-content:center;
  /* background-image: url('../../pictures/8430.jpg') */
}

/* .loginContainer{
  background-color:red;
  width: 100vw;
} */
.welcomeLogin{
  color:black;
  font-size: 3em;
  font-family: 'Muli', sans-serif;
  margin-left:0em;
  max-width:75vw;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
  .welcomeLogin{
    
  }
}

@media only screen and (min-width: 961px){
  .loginContainer{
    /* margin-top:5vh; */
    max-width:60vw;
    background-color:#96D6EF;
    /* margin-bottom:15vh; */
    height:50vh;
  }
  .welcomeLogin{
    font-size:3em;
    margin-left:0;
  }

  .top{
    height:20vh;
  }
}
@media only screen and (min-width: 1080px){
  #totot{
    height:80vh;
  }
}