.background{
  background-image: url('../../pictures/8430.jpg');
  display:flex;
  align-items: center;
  justify-content: center;
}


.top{
  /* background-color:lightblue; */
  height:45vh;
  display:flex;
  align-items: center;
  justify-content:center;
  /* background-image: url('../../pictures/8430.jpg') */
}

/* .loginContainer{
  background-color:red;
  width: 100vw;
} */
.welcome{
  color:black;
  font-size: 3em;
  font-family: 'Muli', sans-serif;
  margin-left:.35em;
}

@media only screen and (min-width: 401px) and (max-width: 960px){
  .welcome{
    background-color:blue;
  }
}

@media only screen and (min-width: 961px){
  .loginContainer{
    margin-top:5vh;
    max-width:50vw;
    background-color:#96D6EF;
    margin-bottom:15vh;
  }
  .welcome{
    font-size:3em;
    margin-left:0;
  }

  .top{
    height:20vh;
  }
}