.regForm{
  display: flex;
  flex-direction: column;
  
}

.input{
  height:3em;
  border-radius: 5px;
  margin-bottom:3em;
  width:60vw;
  margin-top:.5em;
}

.regButton{
  height:3em;
  background-color:#414650;
  border-radius:10px;
  color:#FEFDF9;
}

.welcome{
  margin-left:-1em;
}

.joinInvite{
  margin-top:1em;
  font-size:1.3em
}