.projectName{
  background-color:lightcoral;
  
}

.assigned{
  background-color: aquamarine;
  min-height:42.5vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.unassigned{
  background-color: aqua;
  height:42.5vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.pageHeader{
  background-color:lightgray;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 2em;
  height:5vh;
}

.taskDisplay{
  min-height:35vh;
  width:100%;
  background-color:lightgoldenrodyellow
}